.section__testimonals {
  padding-top: 50px;
  padding-bottom: 148px;

  .testimonals {
    &__item-pretitle {
      font-family: "Poppins";
      font-weight: 700;
      font-size: 13px;
      line-height: 20px;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: $pretitle;
    }

    &__item-title {
      font-family: "Poppins";
      font-weight: 600;
      font-size: 32px;
      line-height: 48px;
      color: $text;
      max-width: 200px;
    }

    &__cards {
      display: flex;
      justify-content: center;
      gap: 30px;
      margin-top: 85px;
      padding: 0 20px;

      @media (max-width: $breakpoint1200) {
        gap: 20px;
      }

      @media (max-width: $breakpoint992) {
        flex-wrap: wrap;
        padding: 0;
      }

      @media (max-width: $breakpoint768) {
        flex-direction: column;
      }

      &-item {
        max-width: calc(100% / 3);
        min-height: 494px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0px 9px 18px rgba(37, 41, 49, 0.03);
        border-radius: 16px;
        padding: 32px 56px;

        @media (max-width: $breakpoint992) {
          max-width: 48%;
        }

        @media (max-width: $breakpoint768) {
          max-width: 100%;
        }

        @media (max-width: $breakpoint480) {
            min-height: 456px;
            padding: 28px 28px;
           }

        .img {
          margin-bottom: 24px;

          @media (max-width: $breakpoint480) {
            max-width: 196px;
            max-height: 196px;
           }
        }

        .text {
          font-family: "Open Sans";
          font-weight: 600;
          font-size: 13px;
          line-height: 20px;
          text-align: center;
          color: $subtext;
          margin-top: 8px;
          min-height: 84px;

          @media (max-width: $breakpoint768) {
            max-width: 362px;
          }

          @media (max-width: $breakpoint480) {
            min-height: 0;
          }
        }

        .author {
          font-family: "Open Sans";
          font-weight: 600;
          font-size: 13px;
          line-height: 20px;
          text-align: center;
          color: $text;

          @media (max-width: $breakpoint480) {
           margin-top: 32px;
          }
        }

        .position {
          font-family: "Poppins";
          font-weight: 700;
          font-size: 13px;
          line-height: 20px;
          text-align: center;
          letter-spacing: 3px;
          text-transform: uppercase;
          color: $subtext;
          margin-top: 4px;
        }
      }
    }
  }
}
